<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple web-calc</title>
</head>
<body>
<h1>Simple Web Integer Calculator</h1>
<p>Instruction:</p>
<ol>
    <li>
        <p>enter params for <a href="calc"><b>"/calc?"</b></a> URL:</p>
        <ol>
            <li><b>"operation="</b> and enter one from</li>
            <ul>
                <li>"a" for "+" (addition)</li>
                <li>"s" for "-" (subtraction)</li>
                <li>"m" for "*" (multiplication)</li>
                <li>"d" for "/" (division)</li>
            </ul>
            <li><b>"operandOne="</b> and enter the first integer number</li>
            <li><b>"operandTwo="</b> and enter the second integer number</li>
        </ol>
    </li>
    <li>
    <p>or calc predefined expression:</p>
        <ul>
            <li><a href="calc?operation=a&operandOne=9&operandTwo=3">"9+3"</a> <i>that is equal to  "../calc?operation=a&operandOne=9&operandTwo=3"</i></li>
            <li><a href="calc?operation=s&operandOne=9&operandTwo=3">"9-3"</a> <i>that is equal to  "../calc?operation=s&operandOne=9&operandTwo=3"</i></li>
            <li><a href="calc?operation=m&operandOne=9&operandTwo=3">"9*3"</a> <i>that is equal to  "../calc?operation=m&operandOne=9&operandTwo=3"</i></li>
            <li><a href="calc?operation=d&operandOne=9&operandTwo=3">"9/3"</a> <i>that is equal to  "../calc?operation=d&operandOne=9&operandTwo=3"</i></li>
        </ul>
    </li>
</ol>
</body>
</html>